
body{
text-align: center;
    background-color:#f5e6c6 ;
    margin: 1.5%;
}
div{

    background-color: #f54748;
    margin: 1%;
    padding: 1%;
    border:1px;

}
p{

    background-color: #f54748;
    font-size: 110%;

}
.b{
    height:10% ;
    width: 20%;

}
h3{
    
    background-color: #f54748;
    font-size: 130%;

}
table{

    margin-right: 10%;
    margin-left: 12%;
}
table,th,td{

    border: 1px solid;
    padding: 7px;
}
h1{
    text-align: center;
    font-size: 160%;
    font-weight: bolder;
    background-color: #fb9300;

}
h2{
    background-color: #f5e6ca;
    font-size: 120%;
    font-weight: bold;
}
ul{
    background-color: #f54748;

    list-style-type: circle;
    list-style-position:inside;
    font-size: 80%;

}
footer{
    background-color: #fb9300;
    text-align: center;
    font-weight: bold;
}



input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, rgb(255, 174, 0));
  }
  
  input:valid {
    border: 2px solid black;
  }

  a{
text-decoration: none;
color:brown;
font-weight: bolder;
background-color: burlywood;

  }
  a:hover{
      color: black;
  }
  main h3, main p, main ul{
      width: 60%;
      margin-left: 20%;
    text-align: center;
  }
  #button:hover{
   background-color: #f54748;;
}
